<!-- <h1>Hello User</h1>
{{ title }}
<input type="text" [value]="empname" />
<button (click)="show('Ritik')">Click Me</button>
<input type="text" [(ngModel)]="age" />
{{ age }} -->

<!-- <nav>
  <ul>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
  </ul>
</nav> -->
<router-outlet></router-outlet>

<h2><app-emulated></app-emulated></h2>
<h2><app-none></app-none></h2>
<h2><app-shadow></app-shadow></h2>