<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<div class="users-container">
  <h2>Users Table</h2>
  
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <table *ngIf="!loading && !error">
    <thead>
      <tr>
        <th>ID</th>
        <th>Avatar</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td><img [src]="user.avatar" [alt]="user.first_name" class="avatar"></td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td><button (click)="showDetails(user.id)">Details</button></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

